{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cette page n'existe pas.</h1>

    <p>Cliquez <a href="{{ path('task_list') }}">ici pour retourner à la liste des tâches</a>.</p>
{% endblock %}